<html>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<head>
  <title>Image Recognition</title>
  <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css">
</head>
<body>
  <div class="container" style="position: relative;
   background-color: lightblue;" >
    <div class="title" style="position: relative; width: auto; height: auto; top: auto; padding-top: 80px; width: 100%; color: white; text-shadow: 5px 5px 5px black; font-family: 'Anton', sans-serif; font-size: 40px; ">
      <h1 style="text-align: center;">Object Recognition</h1>
    </div>

    <div class="section1" style="font-size: 28px; font-family: 'Arial Rounded MT Bold'" >
      <h3 style="text-align:center;">We use PyTorch to run the image recognition using <br> ResNet50 pretrained model from ImageNet</h3>
      <h4 style="text-align:center;">Please click the camera to select an image</h4>
      <h4 style="text-align:center;">Then click the button to submit the file</h4>
    </div>

    <div class="section2" style="text-align: center;">
      
      <p>
        <input type="file" id="selectfile" accept="image/png, image/jpg, image/jpeg" style="display: none;" onchange="displayimg(this)">
      </p>

      <div id="upload_zone" onclick="get_file()">
        <img id="img" style="width:auto; height:auto; max-width: 600px" src="{{ url_for('static', filename='camera.png') }}" alt="camera">
      </div>

      <br>

      <button type="button" onclick="postImage();get_10_imgs()" style="width: 100px; height: 50px">
          <p style="font-size: 15px; font-family: 'Arial Rounded MT Bold'">Submit!</p>
      </button>
      <p id="result" style="font-family: 'Al Nile'; font-size: 30px">Please send your image</p>

        <button type="button" onclick="get_10_imgs()" style="width: 150px; height: 50px">
            <p style="font-size: 14px; font-family: 'Arial Rounded MT Bold'">I'm Feeling Lucky</p>
        </button>
    </div>

    <div class="section3" style="text-align: center; width: 100%; min-height: 500px; margin-top: 60px">

        <table style="text-align:center; width: 80%; margin: auto; border-spacing: 10px" >
            <tr>
                <td>
                    <img id="display0" src="{{ url_for('static', filename='white.png') }}" style="min-height:200px; max-width: 300px; display:none">
                    <p id="display0_text" style="font-family: 'Arial Unicode MS', sans-serif"></p>
                </td>
                <td>
                    <img id="display1" src="{{ url_for('static', filename='white.png') }}" style="min-height:200px; max-width: 300px; display:none">
                    <p id="display1_text" style="font-family: 'Arial Unicode MS', sans-serif"></p>
                </td>
                <td>
                    <img id="display2" src="{{ url_for('static', filename='white.png') }}" style="min-height:200px; max-width: 300px; display:none">
                    <p id="display2_text" style="font-family: 'Arial Unicode MS', sans-serif"></p>
                </td>
            </tr>
            <tr>
                <td>
                    <img id="display3" src="{{ url_for('static', filename='white.png') }}" style="min-height:200px; max-width: 300px; display:none">
                    <p id="display3_text" style="font-family: 'Arial Unicode MS', sans-serif"></p>
                </td>
                <td>
                    <img id="display4" src="{{ url_for('static', filename='white.png') }}" style="min-height:200px; max-width: 300px; display:none">
                    <p id="display4_text" style="font-family: 'Arial Unicode MS', sans-serif"></p>
                </td>
                <td>
                    <img id="display5" src="{{ url_for('static', filename='white.png') }}" style="min-height:200px; max-width: 300px; display:none">
                    <p id="display5_text" style="font-family: 'Arial Unicode MS', sans-serif"></p>
                </td>
            </tr>
            <tr>
                <td>
                    <img id="display6" src="{{ url_for('static', filename='white.png') }}" style="min-height:200px; max-width: 300px; display:none">
                    <p id="display6_text" style="font-family: 'Arial Unicode MS', sans-serif"></p>
                </td>
                <td>
                    <img id="display7" src="{{ url_for('static', filename='white.png') }}" style="min-height:200px; max-width: 300px; display:none">
                    <p id="display7_text" style="font-family: 'Arial Unicode MS', sans-serif"></p>
                </td>
                <td>
                    <img id="display8" src="{{ url_for('static', filename='white.png') }}" style="min-height:200px; max-width: 300px; display:none">
                    <p id="display8_text" style="font-family: 'Arial Unicode MS', sans-serif"></p>
                </td>
            </tr>
        </table>

    </div>
  </div>


    <script>
      var file;
      var show_images = false;
      var images_data;

      async function get_10_imgs(){
          if (!show_images) {
              var myHeaders = new Headers();
              myHeaders.append("Content-Type", "image/png");
              var requestOptions = {
                  method: 'GET',
                  headers: myHeaders,
                  redirect: 'follow',
              };

              fetch("/get_display_image", requestOptions)
                  .then(response => response.text())
                  .then(result => JSON.parse(result))
                  {#.then(result => document.getElementById('display1').src = result[0]['data'])#}

                  .then(result => help_display(result))
                  .catch(error => console.log('error', error));

              {#show_images = true#}
          }else{
            //Do nothing
          }
      }

      async function help_display(result){
          try {
              document.getElementById('display0').src = result[0]['data'];
              document.getElementById('display0').style.display = "inline";
              document.getElementById('display0_text').innerText = result[0]['label'];
              document.getElementById('display1').src = result[1]['data'];
              document.getElementById('display1').style.display = "inline";
              document.getElementById('display1_text').innerText = result[1]['label'];
              document.getElementById('display2').src = result[2]['data'];
              document.getElementById('display2').style.display = "inline";
              document.getElementById('display2_text').innerText = result[2]['label'];
              document.getElementById('display3').src = result[3]['data'];
              document.getElementById('display3').style.display = "inline";
              document.getElementById('display3_text').innerText = result[3]['label'];
              document.getElementById('display4').src = result[4]['data'];
              document.getElementById('display4').style.display = "inline";
              document.getElementById('display4_text').innerText = result[4]['label'];
              document.getElementById('display5').src = result[5]['data'];
              document.getElementById('display5').style.display = "inline";
              document.getElementById('display5_text').innerText = result[5]['label'];
              document.getElementById('display6').src = result[6]['data'];
              document.getElementById('display6').style.display = "inline";
              document.getElementById('display6_text').innerText = result[6]['label'];
              document.getElementById('display7').src = result[7]['data'];
              document.getElementById('display7').style.display = "inline";
              document.getElementById('display7_text').innerText = result[7]['label'];
              document.getElementById('display8').src = result[8]['data'];
              document.getElementById('display8').style.display = "inline";
              document.getElementById('display8_text').innerText = result[8]['label'];






          }
          catch (err){
              // Do Nothing
          }
          this.images_data = result

      }

      async function displayimg(input){
          var file = input.files[0]
          if(window.FileReader){
              var fr = new FileReader();
              fr.readAsDataURL(file)
              fr.onload = function (){
                  console.log(fr.result)
                  document.getElementById('img').src = fr.result

              }
          }
      }

      async function get_file() {
        document.getElementById("selectfile").click()
      }


      async function postImage() {
        var myHeaders = new Headers();
        myHeaders.append("Content-Type", "image/png");

        var file = document.getElementById("selectfile").files[0]

        var reader = new FileReader();
        reader.onloadend = function() {
            //console.log('Encoded Base 64 File String:', reader.result);

            {#var data=(reader.result).split(',')[1];#}
            {#var binaryBlob = atob(data);#}
            //console.log('Encoded Binary File String:', binaryBlob);
        }
        reader.readAsDataURL(file);




        var requestOptions = {
          method: 'POST',
          headers: myHeaders,
          body: file,
          redirect: 'follow',
        };
        
        fetch("/uploader", requestOptions)
          .then(response => response.text())
          .then(result => document.getElementById("result").innerHTML = result)
          .catch(error => console.log('error', error));
      }
      </script>
</body>
</html>